#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .retry files
*.retry

# Docker creds
docker_credentials

# Cloud-config data
user-data.yml

# Variables
variables.tf
